<html>
 <body>
  <form action="{{ url_for('lyrics') }}" method="post" class="lyrics">
    Poet name:
    <!-- <input name="artist" type="text" /> -->
      <select name="artist" style="text-transform: capitalize;">
        {% for n in ['sukumar roy', 'jibonanondo das', 'robi thakur'] %}
          <option value="{{n}}" >Uttoradhunik {{n}}</option>
        {% endfor %}
      </select>
    <br />
    Number of lines:
    <select name="lines">
      {% for n in range(4,11) %}
        <option value="{{n}}">{{n}}</option>
      {% endfor %}
    </select>
    <!-- <br />
    Model size:
    <select name="size">
      {% for n in range(5,11) %}
        <option value="{{n}}">{{n}}</option>
      {% endfor %}
    </select> -->
    <br /><br />
    <input class="button" type="submit" value="Lyricize">
  </form>
 </body>
</html>

